.loader {
  @apply absolute top-0 z-50 h-screen w-screen bg-white;

  .loader-circle {
    @apply absolute h-10 w-10 rounded-full;
  }
  .loader-circle {
    @apply absolute h-10 w-10 scale-0 rounded-full;
  }
  .circle-1 {
    @apply bg-[#e134ff];
    animation: 1.5s circle-grow 0s normal ease-in-out;
  }
  .circle-2 {
    @apply bg-[#7165fd];
    animation: 1.4s circle-grow 0.4s normal ease-in-out;
  }
  .circle-3 {
    @apply bg-white;
    animation: 1s circle-grow 1s normal ease-in-out;
  }
}

@keyframes circle-grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100);
  }
}
